:root{
    --a:red;
    --blur: (40px);
}
body{
    background-color: rgb(70, 69, 69);
}
.state{
    color: white;
}
h4{
    border: 2px solid red;
}
.list{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid red;
}
.pt {
    display: grid;
    background-color: gray;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: repeat(18, 50px);
}
.item{
    display: flex;
    /* line-height: 200px; */
    /* text-align: center; */
    /* justify-items: center; */
    justify-content: center;
    align-items: center;
}
.am{
    background-color: orange;
}
.aem{
    background-color: lightyellow;
}
.ptrm{
    background-color: yellow;
}
.rnonm{
    background-color: green;
}
.meta{
    background-color: brown;
}
.ng{
    background-color: lightskyblue;
}
.halo{
    /* background-color: violet; */
}
.d{
    background-color: lightgreen;
}
.la{
    background-color: lightblue;
}
.ac{
    background-color: rgb(217, 110, 110);
}
.Unknown{
    background-color: darkkhaki;
}
#item1:hover{
    /* filter: url(--blur); */
    /* filter: var(--blur); */
    
    background-color: var(--a);

    

}
.state{
    display: flex;
}

